<div id="header">
    <div class="ca-top-header">
        <div class="ca-top-header-left-section">
            <div class="ca-top-header-logo"></div>
            <div class="ca-top-header-title">{{appName}}</div>
        </div>
        <!--<div class="ca-top-header-tab-list-text">
            CA
        </div>-->
        <div class="ca-top-header-right-section">
            <!--<div class="search-icon"></div>
            <div class="help-icon"></div>
            <div class="country-icon"></div>-->
            <!-- <div class="setting-icon"></div> -->
            <div class="my-profile-icon">
                <div class="expand-profile-menu">
                    <div class="logout-profile" (click)="logout()">Logout</div>
                </div>
            </div>
        </div>
    </div>
</div>
