    @import './../../variables';
    #header {
        position: fixed;
        width: 100%;
        height: 8%;
        .ca-top-header {
            // width: 100%;
            height: 100%;
            background: $black;
            // position: fixed;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .ca-top-header-left-section {
                width: 30%;
                height: 60%;
                display: flex;
                align-items: center;
                .ca-top-header-logo {
                    background: url('../../assets/icon/logo@1x.png') no-repeat;
                    margin-left: 5%;
                    height: 100%;
                    width: 15%;
                    background-size: contain;
                    background-position: left center;
                }
                .ca-top-header-title {
                    color: $white-title;
                    font-family: OpenSans-Regular;
                    margin-top: 1%;
                    margin-left: 2%;
                    width: 80%;
                    font-size: 2.5vh;
                }
            }
            .ca-top-header-tab-list-text {
                display: flex;
                align-items: center;
                flex: 1 0 auto;
                // .ca-top-header-active-tab {
                color: $header-red;
                font-family: OpenSans-Semibold;
                font-weight: bold;
                display: table-cell;
                margin-right: 25px;
                font-size: .9em;
                cursor: pointer;
                // }
            }
            .ca-top-header-right-section {
                width: 12%;
                height: 100%;
                background-size: contain;
                display: flex;
                align-items: center;
                // justify-content: space-between;
                justify-content: flex-end;
                margin-right: 2.52%;
                .search-icon {
                    background: url('../../assets/icon/search-icon.png') 50% no-repeat;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                }
                .help-icon {
                    background: url('../../assets/icon/help-icon.png') 50% no-repeat;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                }
                .country-icon {
                    background: url('../../assets/icon/SG.png') center center no-repeat;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                }
                .setting-icon {
                    background: url('../../assets/icon/ic_settings.png') center center no-repeat;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                }
                .my-profile-icon {
                    background: url('../../assets/icon/profile-icon.png') 50% no-repeat;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    margin-left: 10%;
                    .expand-profile-menu {
                        display: none;
                        width: 6%;
                        position: fixed;
                        top: 5%;
                        height: auto;
                        right: 2.52%;
                        background: $white;
                    }
                }
                .my-profile-icon:hover {
                    .expand-profile-menu {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .logout-profile {
                        cursor: pointer;
                        width: 100%;
                        text-align: center;
                        font-family: Opensans-Semibold;
                        font-size: small;
                    }
                }
            }
        }
    }
